<?xml version="1.0" encoding="UTF-8"?>
<suite name="ClearTripRegression" parallel="false">
  <test name="Test">
    <classes>
      <class name="com.ClearTrip.Regression.Hotel.TestCase.OpenClearTrip"/>
      <class name="com.ClearTrip.Regression.Hotel.TestCase.SearchHotels"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
